
 *{
   margin: 0;
   padding: 0;
 }
#App-header {


  display: flex;
  border: 1px solid red;
  margin: 0;
  padding: 0;


  
}

.App-filho{
  flex-direction: row ;
  justify-content: left;
  background-color: #d3b896;
  height: 250px;
  width: 450px;
  /* margin: 0px; */
 /* border-radius: 10%; */
  border: 1px solid red;
  display:inline-block
  
 
}

